body
{
	background: url(nature-wallpaper.jpg) no-repeat fixed;
	background-size: 100% 100%;
}
h3
{
	color: white;
}
ul
{
	list-style-type: none;
}
ul li
{
	background: lightgreen;
}
label
{
	color: white;
}
a
{
	color: white;
}
button
{
	color: black;
}
