<form novalidate name="enclosureForm" class="form-horizontal">

<div class="form-group">
	<label for="enclosureName" class="col-sm-2 control-label textLeft">Enclosure Name: </label>
	<input id="enclosureName" name="enclosureName" type="text" ng-model="enclosureName" ng-value="enclosureToView.enclosureName" ng-required/>
</div>
<div class="form-group">
	<label for="animalAmount" class="col-sm-2 control-label textLeft">Amount of Animals: </label>
	<input id="animalAmount" name="animalAmount" type="text" ng-model="animalAmount" ng-value="enclosureToView.enclosureName">
</div>
<div class="form-group">
	<label for="feedingTime" class="col-sm-2 control-label textLeft">FeedingTime: </label>
	<input id="feedingTime" name="feedingTime" type="text" ng-model="feedingTime" ng-value="enclosureToView.feedingTime">
</div>
<div class="form-group">
	<label for="condition" class="col-sm-2 control-label textLeft">Condition: </label>
	<input id="condition" name="condition" type="text" ng-model="condition" ng-value="enclosureToView.condition">
</div>
<div class="form-group">
	<label for="animal" class="col-sm-2 control-label textLeft">Animal: </label>
	<select id="animal" name="animal">
		<option ng-repeat="animals in animalList" ng-value="{{animals.animalId}}">{{animals.commonName}}, {{animals.scientificName}}</option>
	</select>
</div>
</form>

<input type="submit" ng-click="sendAnimal()" value="Submit Edits">